<template>
    <v-content>
        <core-header />
        <!-- <core-navigation v-if="!$me.theme_navigation_variant" /> -->
        <core-view />
        <core-footer />
    </v-content>
</template>
